{% extends 'base.html.twig' %}

{% block title %}Edit ApprovalRequest{% endblock %}

{% block body %}
    <h1>Edit ApprovalRequest</h1>

    {{ include('approval_request/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_approval_request_index') }}">back to list</a>

    {{ include('approval_request/_delete_form.html.twig') }}
{% endblock %}
