{% extends 'base.html.twig' %}

{% block title %}New ApprovalRequest{% endblock %}

{% block body %}
    <h1>Create new ApprovalRequest</h1>

    {{ include('approval_request/_form.html.twig') }}

    <a href="{{ path('app_approval_request_index') }}">back to list</a>
{% endblock %}
